// a few editor adjustments
#editor,
.gutenberg__editor {
  button, input, select, textarea {
    font-size: 'initial';
  }

  .edit-post-layout__content {
    background: white;
    top: 56px;
  }

  .edit-post-sidebar {
    ol > li,
    ul > li {
      padding-left: 0px;

      &::before {
        content: '';
      }
    }

    ol li+li,
    ul li+li {
     padding-top: 0px;
    }
  }

  .edit-post-sidebar,
  .edit-post-header {
    * {
      font-size: small;
    }
  }
}
